html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: IBM Plex Sans, "sans-serif";
}

p {
  color: #19303d;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

strong {
  color: black;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}

input {
  border: 1px solid #adbcc5;
  box-sizing: border-box;
  border-radius: 3px;
  color: #19303d;
  font-size: 18px;
  height: 45px;
  line-height: 25px;
  padding: 10px;
}

input:disabled {
  background-color: white;
  color: #19303d;
}

input:focus {
  outline: 0;
}

input::placeholder {
  color: #adbcc5;
}

button,
input[type="submit"] {
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  width: 100%;
}

button:hover,
input[type="submit"]:hover {
  opacity: 0.8;
}
