.root {
  background-color: #ecfaff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 9px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .container {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 40px;
  }
}

.primaryButton {
  background-color: #19303d;
}

.primaryButton:disabled {
  background-color: #f3f5f6;
  color: #5c727d;
  opacity: 1;
}

/* Nav bar styles */

.nav {
  align-items: center;
  background-color: #c7f1ff;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 28px;
  position: absolute;
  top: 0;
  width: 100%;
}
.navLogos {
  align-items: center;
  background-color: #c7f1ff;
  display: flex;
  height: 64px;
  padding: 0 28px;
  top: 0;
}

.navPlusSign {
  padding: 0px 20px 10px 20px;
  font-size: 30px;
}

.docsNavItem {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* App entry styles */

.entrySubHeader {
  margin: 32px 0;
}

.entryButton {
  background-color: #e5e8eb;
  color: #19303d;
  margin-bottom: 16px;
}

/* SMS login styles */

.smsInstructions {
  margin-top: 28px;
}

.smsDisclaimer {
  color: #5c727d;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.telInput {
  display: flex;
  margin-top: 20px;
  white-space: nowrap;
}

.flag {
  background: url("/stars-and-stripes.png") no-repeat scroll 8px 16px;
  border-right: none;
  border-radius: 3px 0 0 3px;
  width: 80px;
  padding-left: 48px;
}

.phoneNumber {
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding-left: 0;
  flex-grow: 1;
  font-size: 18px;
  width: calc(100%);
}

.passcodeContainer {
  margin-top: 4px;
}

.passcodeInputContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.passcodeInput {
  border-radius: 3px;
  font-size: 20px;
  width: 48px;
  height: 45px;
  text-align: center;
}

.errorText {
  color: red;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.resendCodeContainer {
  margin: 28px 0;
}

.resendCodeText {
  color: #5c727d;
  display: inline;
  font-size: 16px;
  line-height: 20px;
}

.resendCodeButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  height: fit-content;
  padding: 0;
  width: fit-content;
}

/* Profile styles */

.profileSubHeader {
  margin-bottom: 8px;
  margin-top: 28px;
}

.code {
  background: #f3f5f6;
  border-radius: 5px;
  color: #10232e;
  padding: 8px;
  font-size: 16px;
  font-family: IBM Plex Mono, monospace;
  margin-bottom: 16px;
  white-space: pre-wrap;
}
