.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1rem 0;
  width: 100%;
  flex: 1;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complete,
.incomplete {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 50%;
}

.scrolly {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 132px);
  overflow: scroll;
}

.firstRow {
  display: flex;
  align-items: center;
  height: 52px;
}

.reverseWrapper {
  display: flex;
  margin-left: auto;
  height: 100%;
  align-items: center;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h2 {
  padding-left: 24px;
}

.inpt {
  border: 1px solid #c5c4c7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  height: 32px;
  margin-right: 10px;
}

.inpt:focus,
.inpt:active {
  border: 1px solid #2b66ff;
}

.addBtn,
.delBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #c5c4c7;
  border-radius: 2px;
  height: 32px;
  width: 32px;
}

.addBtn:hover,
.addBtn:focus,
.addBtn:active {
  color: #1cec73;
}

.delBtn:hover,
.delBtn:focus,
.delBtn:active {
  color: #ee6262;
}

.check {
  background-color: transparent;
  border: 1px solid #c5c4c7;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #2b66ff;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title,
.description {
  text-align: flex-start;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #c5c4c7;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.card,
.card2,
.card3,
.card4,
.card5 {
  display: flex;
  color: #c5c4c7;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  height: 50px;
  align-items: center;
  text-align: left;
  text-decoration: none;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #ae00f3;
}

.card3:hover,
.card3:focus,
.card3:active {
  color: #f3003d;
}

.card4:hover,
.card4:focus,
.card4:active {
  color: #f39200;
}

.card4:hover,
.card4:focus,
.card4:active {
  color: #29f300;
}

.card5:hover,
.card5:focus,
.card5:active {
  color: #00f3cb;
}

.card,
.card2,
.card3,
.card4,
.card5 h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.text {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}
