header {
  font-size: 2.5rem;
  margin-top: 2rem;
}
header > span {
  font-weight: 700;
  background: -webkit-linear-gradient(
    45deg,
    rgb(250, 91, 48) 0%,
    rgb(128, 54, 255) 26.88%,
    rgb(213, 63, 255) 50.44%,
    rgb(235, 137, 82) 73.83%,
    rgb(247, 181, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer > a:nth-child(3) {
  font-weight: 600;
  font-size: 1.1rem;
}

p {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}
p > a {
  font-weight: 700;
  text-decoration: underline;
}
p > a:hover {
  color: rgb(2, 2, 102);
}

.global-container {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 20px;
}
.global-container main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.texts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3rem 5rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px;
  border-radius: 5px;
}
.texts-container > p {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}
.texts-container > p a {
  font-weight: 700;
}

.videos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
.videos-list .video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 1rem 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px;
  border-radius: 5px;
  max-width: 250px;
  text-align: center;
  transition: transform 200ms ease-in-out;
}
.videos-list .video-card:hover {
  transform: scale(1.05);
}

button.upload,
a.button {
  background: -webkit-linear-gradient(
    45deg,
    rgb(250, 91, 48) 0%,
    rgb(235, 137, 82) 50%,
    rgb(247, 181, 0) 100%
  );
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.status-container > span {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(235, 137, 82);
  margin-top: 20px;
}

.inputs-container {
  display: flex;
  gap: 20px;
}
.inputs-container > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputs-container > div label {
  font-size: 0.6rem;
}
.inputs-container > div:last-child {
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}

.error {
  color: rgb(250, 91, 48);
}
.error i {
  font-weight: 600;
}
