html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  background-color: #0f2832;
}

body {
  min-width: 768px;
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

button {
  cursor: pointer;
  border: 0;
  font-family: inherit;
  background-color: transparent;
}

a {
  color: #4ed9b2;
  text-decoration: none;
}

mark {
  background-color: transparent;
}

input {
  font-family: inherit;
}

h4 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
