{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".sass"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./static/css/bundle.css",
        "preprocessCss": "./pre-processor.js"
      }
    ]
  ]
}
