.page {
  padding: 20px;
}

::view-transition-old(.slide) {
  animation-name: slide-out;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide) {
  animation-name: slide-in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
