# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners


*                                             @timneutkens @ijjk @shuding @huozhi @feedthejim @ztanner @wyattjoh
/.git*                                        @vercel/next-js @vercel/devex
/docs/                                        @vercel/next-js @vercel/devex
/errors/                                      @vercel/next-js @vercel/devex
/examples/                                    @vercel/next-js @vercel/devex
/scripts/                                     @vercel/next-js
/.alex*                                       @vercel/next-js @leerob
/.eslint*                                     @vercel/next-js @leerob
/.prettier*                                   @vercel/next-js @leerob
/*.md                                         @vercel/next-js @vercel/devex
/*.mdx                                        @vercel/next-js @vercel/devex
/packages/create-next-app/                    @vercel/next-js
/pnpm-lock.yaml                               @vercel/next-js @vercel/turbopack

# Next.js CLI

/packages/next/src/bin                        @timneutkens @ijjk @shuding @samcx
/packages/next/src/cli                        @timneutkens @ijjk @shuding @samcx

# Image Component (@styfle)

/**/*image*                                   @timneutkens @ijjk @shuding @styfle @huozhi @ztanner @vercel/devex
/**/*image*/**                                @timneutkens @ijjk @shuding @styfle @huozhi @ztanner @vercel/devex
/**/*img*                                     @timneutkens @ijjk @shuding @styfle @huozhi @ztanner @vercel/devex
/packages/next/client/use-intersection.tsx    @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/            @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts         @timneutkens @ijjk @shuding @styfle @huozhi @ztanner
/packages/next/server/config.ts               @timneutkens @ijjk @shuding @styfle @huozhi @ztanner

# Tooling & Telemetry

/packages/next/src/build/                                        @timneutkens @ijjk @shuding @huozhi @ztanner @feedthejim @vercel/turbopack
/packages/next/src/server/lib/router-utils/setup-dev-bundler.ts  @timneutkens @ijjk @shuding @huozhi @feedthejim @ztanner @wyattjoh @vercel/turbopack
/packages/next/src/telemetry/                                    @timneutkens @ijjk @shuding @padmaia
/packages/next-swc/                                              @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
Cargo.toml                                                       @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
Cargo.lock                                                       @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
/.cargo/config.toml                                              @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
/.config/nextest.toml                                            @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
/test/build-turbopack-tests-manifest.js                          @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
/test/turbopack-tests-manifest.json                              @timneutkens @ijjk @shuding @huozhi @vercel/turbopack
