{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["./babel", {
          "preset-env": {
            "modules": "commonjs"
          }
        }]
       ]
    }
  }
}