{
  "presets": [
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "./babel"
       ]
    }
  }
}
