{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime"
  ],
  "env": {
    "test-build": {
      "plugins": [
        "istanbul"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "./babel"
       ]
    }
  }
}
