# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
indent_size = 4

[*.t]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[{go.mod,go.sum,*.go}]
indent_style = tab

[*.{md,mdx}]
insert_final_newline = true

[*.html]
insert_final_newline = false

[nginx.conf]
indent_size = 8

[*.svg]
insert_final_newline = false

[LICENSE]
insert_final_newline = false
