root = true

[*]
charset = utf-8
end_of_line = lf

indent_style = space
indent_size = 4
tab_width = 4

insert_final_newline = true
max_line_length = 120

[*.rs]
# Keep in sync with rustfmt
max_line_length = 100

[{*.markdown,*.md}]
max_line_length = 80

[{*.yml,*.yaml,*.json,*.ts,*.js}]
indent_size = 2
