node_modules
**/.next/**
**/_next/**
**/dist/**
examples/with-typescript-eslint-jest/**
examples/with-kea/**
packages/next/compiled/**/*
packages/react-refresh-utils/**/*.js
packages/react-dev-overlay/lib/**
**/__tmp__/**
.github/actions/next-stats-action/.work