# build output
dist
.next

# dependencies
node_modules/*
!node_modules/@next/
node_modules/@next/create-next-app
node_modules/@next/next
node_modules/@next/env
node_modules/@next/polyfill-module
node_modules/@next/polyfill-nomodule
node_modules/@next/react-dev-overlay
node_modules/@next/react-refresh-utils
packages/**/node_modules

package-lock.json
examples/**/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
/e2e-tests

# Editors
**/.idea
**/.#*

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Bazel
bazel-*

# Vercel
.vercel
.now
