# build output
dist
.next
target

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
/e2e-tests
test/tmp/**

# Editors
**/.idea
**/.#*

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo
packages/next/trace/report/to-zipkin.js.map
packages/next/trace/report/to-zipkin.js
packages/next/shared/lib/i18n/normalize-locale-path.js.map
packages/next/shared/lib/i18n/normalize-locale-path.js
packages/next/client/dev/error-overlay/websocket.js.map
packages/next/client/dev/error-overlay/websocket.js
packages/next/client/dev/amp-dev.js.map
examples/cms-sitecore/styles/index.css
packages/next/client/dev/amp-dev.js
packages/next/client/dev/amp-dev.js
