# build output
dist
.next

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
/e2e-tests

# Editors
**/.idea

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Vercel
.vercel
.now
