save-exact = true
tag-version-prefix=""
strict-peer-dependencies = false
lockfile = true
dedupe-peer-dependents = false
resolve-peers-from-workspace-root = false
save-workspace-protocol = true
resolution-mode = highest
