# Build artifacts
.next/
.turbo/
_next/
__tmp__/
dist/
target/
compiled/

lerna.json
test-timings.json
pnpm-lock.yaml

packages/next/src/bundles/webpack/packages/*.runtime.js
packages/next/src/bundles/webpack/packages/lazy-compilation-*.js

.github/actions/next-stats-action/.work

crates/**/tests/**/output*
crates/core/tests/loader/issue-32553/input.js
# prettier destroys the directives here
crates/next-custom-transforms/tests/errors/react-server-components/client-graph/use-client/input.js
crates/next-custom-transforms/tests/errors/react-server-components/server-graph/fake-client-entry/input.js
crates/next-custom-transforms/tests/errors/server-actions/server-graph/8/input.js
crates/next-custom-transforms/tests/errors/server-actions/server-graph/9/input.js
crates/next-custom-transforms/tests/fixture/optimize-barrel/normal/4/input.js
crates/next-custom-transforms/tests/fixture/react-server-components/client-graph/client-entry/input.js
crates/next-custom-transforms/tests/fixture/react-server-components/server-graph/client-entry/input.js
packages/next-swc/native/**/*
packages/next-swc/docs/assets/**/*

packages/next-codemod/transforms/__testfixtures__/**
packages/next-codemod/transforms/__tests__/**
packages/next-codemod/**/*.js
packages/next-codemod/**/*.d.ts

packages/next-env/**/*.d.ts

test/**/out/**
test/development/basic/hmr/components/parse-error.js

bench/nested-deps/pages/**/*
bench/nested-deps/components/**/*

**/convex/_generated/**
**/.tina/__generated__/**
test/lib/amp-validator-wasm.js
test/production/pages-dir/production/fixture/amp-validator-wasm.js
test/e2e/async-modules/amp-validator-wasm.js

# turbopack crates
turbopack/crates/*/js/src/compiled
turbopack/crates/turbopack/bench.json
turbopack/crates/turbopack/tests
turbopack/crates/turbopack-ecmascript/tests/analyzer/graph
turbopack/crates/turbopack-ecmascript/tests/tree-shaker
turbopack/crates/next-transform-strip-page-exports/tests
turbopack/crates/next-transform-dynamic/tests
turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/error/input/broken.js
turbopack/crates/turbopack-tests/tests/**/output*

# temporarily disable prettier for the turbopack directory
turbopack/
