@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;

:root {
  --breakpoint-xs-width : #{$breakpoint-xs-width};
  --breakpoint-s-width : #{$breakpoint-s-width};
  --breakpoint-m-width : #{$breakpoint-m-width};
  --breakpoint-l-width : #{$breakpoint-l-width};
  --scrollbar-width: 17px;

  --base: 24px;
  --font-body: system-ui;
  --font-mono: 'Roboto Mono', monospace;

  --gutter-h: 180px;
  --block-padding: 120px;

  --header-z-index: 100;
  --modal-z-index: 90;

  @include large-break {
    --gutter-h: 144px;
    --block-padding: 96px;
  }

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
}

/////////////////////////////
// GLOBAL STYLES
/////////////////////////////

* {
  box-sizing: border-box;
}

html {
  @extend %body;
  background: var(--color-base-0);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-body);
  color: var(--color-base-1000);
  margin: 0;
}

::selection {
  background: var(--color-success-500);
  color: var(--color-base-800);
}

::-moz-selection {
  background: var(--color-success-500);
  color: var(--color-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: var(--base) 0;

  @include mid-break {
    margin: calc(var(--base) * .75) 0;
  }
}

ul,
ol {
  padding-left: var(--base);
  margin: 0 0 var(--base);
}

a {
  color: currentColor;

  &:focus {
    opacity: .8;
    outline: none;
  }

  &:active {
    opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}