:root {
  --color-base-0: rgb(255, 255, 255);
  --color-base-50: rgb(245, 245, 245);
  --color-base-100: rgb(235, 235, 235);
  --color-base-150: rgb(221, 221, 221);
  --color-base-200: rgb(208, 208, 208);
  --color-base-250: rgb(195, 195, 195);
  --color-base-300: rgb(181, 181, 181);
  --color-base-350: rgb(168, 168, 168);
  --color-base-400: rgb(154, 154, 154);
  --color-base-450: rgb(141, 141, 141);
  --color-base-500: rgb(128, 128, 128);
  --color-base-550: rgb(114, 114, 114);
  --color-base-600: rgb(101, 101, 101);
  --color-base-650: rgb(87, 87, 87);
  --color-base-700: rgb(74, 74, 74);
  --color-base-750: rgb(60, 60, 60);
  --color-base-800: rgb(47, 47, 47);
  --color-base-850: rgb(34, 34, 34);
  --color-base-900: rgb(20, 20, 20);
  --color-base-950: rgb(7, 7, 7);
  --color-base-1000: rgb(0, 0, 0);

  --color-success-50: rgb(247, 255, 251);
  --color-success-100: rgb(240, 255, 247);
  --color-success-150: rgb(232, 255, 243);
  --color-success-200: rgb(224, 255, 239);
  --color-success-250: rgb(217, 255, 235);
  --color-success-300: rgb(209, 255, 230);
  --color-success-350: rgb(201, 255, 226);
  --color-success-400: rgb(193, 255, 222);
  --color-success-450: rgb(186, 255, 218);
  --color-success-500: rgb(178, 255, 214);
  --color-success-550: rgb(160, 230, 193);
  --color-success-600: rgb(142, 204, 171);
  --color-success-650: rgb(125, 179, 150);
  --color-success-700: rgb(107, 153, 128);
  --color-success-750: rgb(89, 128, 107);
  --color-success-800: rgb(71, 102, 86);
  --color-success-850: rgb(53, 77, 64);
  --color-success-900: rgb(36, 51, 43);
  --color-success-950: rgb(18, 25, 21);

  --color-warning-50: rgb(255, 255, 246);
  --color-warning-100: rgb(255, 255, 237);
  --color-warning-150: rgb(254, 255, 228);
  --color-warning-200: rgb(254, 255, 219);
  --color-warning-250: rgb(254, 255, 210);
  --color-warning-300: rgb(254, 255, 200);
  --color-warning-350: rgb(254, 255, 191);
  --color-warning-400: rgb(253, 255, 182);
  --color-warning-450: rgb(253, 255, 173);
  --color-warning-500: rgb(253, 255, 164);
  --color-warning-550: rgb(228, 230, 148);
  --color-warning-600: rgb(202, 204, 131);
  --color-warning-650: rgb(177, 179, 115);
  --color-warning-700: rgb(152, 153, 98);
  --color-warning-750: rgb(127, 128, 82);
  --color-warning-800: rgb(101, 102, 66);
  --color-warning-850: rgb(76, 77, 49);
  --color-warning-900: rgb(51, 51, 33);
  --color-warning-950: rgb(25, 25, 16);

  --color-error-50: rgb(255, 241, 241);
  --color-error-100: rgb(255, 226, 228);
  --color-error-150: rgb(255, 212, 214);
  --color-error-200: rgb(255, 197, 200);
  --color-error-250: rgb(255, 183, 187);
  --color-error-300: rgb(255, 169, 173);
  --color-error-350: rgb(255, 154, 159);
  --color-error-400: rgb(255, 140, 145);
  --color-error-450: rgb(255, 125, 132);
  --color-error-500: rgb(255, 111, 118);
  --color-error-550: rgb(230, 100, 106);
  --color-error-600: rgb(204, 89, 94);
  --color-error-650: rgb(179, 78, 83);
  --color-error-700: rgb(153, 67, 71);
  --color-error-750: rgb(128, 56, 59);
  --color-error-800: rgb(102, 44, 47);
  --color-error-850: rgb(77, 33, 35);
  --color-error-900: rgb(51, 22, 24);
  --color-error-950: rgb(25, 11, 12);
}
