[package]
name = "turbopack-core"
version = "0.1.0"
description = "TBD"
license = "MPL-2.0"
edition = "2021"
autobenches = false

[lib]
bench = false

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
auto-hash-map = { workspace = true }
browserslist-rs = { workspace = true }
futures = { workspace = true }
indexmap = { workspace = true }
lazy_static = { workspace = true }
patricia_tree = "0.5.5"
qstring = { workspace = true }
regex = { workspace = true }
serde = { workspace = true, features = ["rc"] }
serde_json = { workspace = true, features = ["preserve_order"] }
serde_qs = { workspace = true }
sourcemap = "6.0.2"
swc_core = { workspace = true, features = ["ecma_preset_env", "common"] }

turbo-tasks = { workspace = true }
turbo-tasks-env = { workspace = true }
turbo-tasks-fs = { workspace = true }
turbo-tasks-hash = { workspace = true }

[build-dependencies]
turbo-tasks-build = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }

[features]
issue_path = []
