.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appName {
  margin-left: 12px;
  font-weight: bold;
  color: #335bf1;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right > :not(:first-child) {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
