body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style: none;
  line-height: 1.4em;
}

button {
  margin-right: 1rem;
  border-radius: 0.4rem;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  font-size: large;
  color: white;
  background-color: #ff5416;
  cursor: pointer;
}

button:hover {
  background-color: #ff2739;
}

h1 {
  margin: 0;
}

p {
  width: 100%;
}
