# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
# Silence log messages meant for onboarding
# NEXT_PUBLIC_SANITY_STEGA_LOGGER=false
# Debug Next.js cache behavior
# NEXT_PRIVATE_DEBUG_CACHE=true
