@media (480px <= width < 768px) {
  ::placeholder {
    color: green;
  }
}

.flex-parsing {
  flex: 0 0 calc(50% - var(--vertical-gutter));
}

.transform-parsing {
  transform: translate3d(0px, 0px);
}

.css-grid-shorthand {
  grid-column: span 2;
}

.g-docs-sidenav .filter::-webkit-input-placeholder {
  opacity: 80%;
}
