[package]
name = "turbo-tasks-macros"
version = "0.1.0"
description = "TBD"
license = "MIT"
edition = "2024"

[lib]
proc-macro = true
bench = false

[lints]
workspace = true

[dependencies]
either = { workspace = true }
proc-macro-error = "1.0.4"
proc-macro2 = { workspace = true }
quote = { workspace = true }
regex = { workspace = true }
rustc-hash = { workspace = true }
syn = { workspace = true, features = ["full", "extra-traits", "visit", "visit-mut"] }
turbo-tasks-macros-shared = { workspace = true }
