{
  "presets": ["next/babel"],
  "plugins": [
    [
      "transform-assets",
      {
        "extensions": ["txt", "svg", "png"],
        "regExp": ".*/static/(.+)",
        "name": "/static/[1]?[sha512:hash:base64:7]"
      }
    ]
  ]
}
