.container {
  margin: 5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.buttonContainer {
  display: flex;
  gap: 1rem;
}

.button {
  border: none;
  background: #fff;
  cursor: pointer;
  color: #a0a0a0;
  font-size: medium;
}

.button:hover {
  color: #000;
}

.hr {
  height: 1rem;
  margin: 0;
  border: 0;
  border-left: solid 1px #e1dfe0;
}
