# This is necessary when you run locally against a self-signed server. Do NOT include this in production.
NODE_TLS_REJECT_UNAUTHORIZED=0

# Add your Umbraco server URL here. Please do not include a trailing slash.
UMBRACO_SERVER_URL = 

# Add your Umbraco Delivery API key here if you want to use preview.
UMBRACO_DELIVERY_API_KEY = 

# Add the secret token that will be used to "authorize" preview
UMBRACO_PREVIEW_SECRET = 
