@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* In Korean */
  /* font-family: 'SUIT'; */ 
  
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */