{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [["env", { "modules": "commonjs" }], "next/babel"]
    }
  }
}
