# Rename this file to `.env.local` to use environment variables locally with `next dev`
# https://nextjs.org/docs/app/building-your-application/configuring/environment-variables
NEXT_PUBLIC_VOIDFULL_SITE_ID=<your_voidfull_site_id>
NEXT_PUBLIC_VOIDFULL_CONTENT_TOKEN=<your_voidfull_token_id>
