*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 2rem 1.25rem;
}
h1 {
  text-align: center;
}
.form-container {
  max-width: 21rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form,
label {
  display: flex;
  flex-flow: column;
}
label > span {
  font-weight: 600;
}
input {
  padding: 8px;
  margin: 0.3rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.submit > button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit > button:hover {
  border-color: #888;
}
.submit > a {
  text-decoration: none;
}
.error {
  color: brown;
  margin: 0.5rem 0;
  text-align: center;
}
