UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# https://github.com/settings/apps
GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_ADMIN_EMAIL=

# Secret key
# generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000
