# Connection string for the Postgres service in docker-compose.yml
DATABASE_URL=postgres://postgres:postgres@localhost:5432/app

# SMTP connection for the local Mailtrap Local catcher in docker-compose.yml
EMAIL_SERVER=smtp://localhost:3535
EMAIL_FROM=onboarding@example.com

# Used to encrypt the session. Generate one with: npx auth secret
AUTH_SECRET= # https://generate-secret.vercel.app/32
