{
  "presets": [
    "next/babel",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    "transform-decorators-legacy"
  ]
}
