@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", Courier New, monospace;
}

a {
  color: #0070f3;
  text-decoration: none;
}

input,
button {
  font-family: "Source Code Pro", Arial, sans-serif;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: rgb(200, 200, 200);
    background: rgb(30, 30, 30);
  }
}
