# Neon Postgres
# Obtain a connection string for your database from the Connection Details widget on the Neon Dashboard.
DATABASE_URL="<postgres://user:pass@host/db>"

# Better Auth
# Generate an auth secret using `openssl rand -base64 32`
BETTER_AUTH_SECRET="<generated-secret-at-least-32-chars>"
# Set the base URL of your application. Set to your production Vercel URL for production.
BETTER_AUTH_URL="http://localhost:3000"
