# Update these with your Firebase app's values.
FIREBASE_PROJECT_ID=my-example-app-id
FIREBASE_CLIENT_EMAIL=my-example-app-email@example.com
FIREBASE_PUBLIC_API_KEY=MyExampleAppAPIKey123
FIREBASE_AUTH_DOMAIN=my-example-app.firebaseapp.com
FIREBASE_DATABASE_URL=https://my-example-app.firebaseio.com

# Your Firebase private key.
FIREBASE_PRIVATE_KEY=some-key-here

# Secrets used by cookie-session.
SESSION_SECRET_CURRENT=someSecretValue
SESSION_SECRET_PREVIOUS=anotherSecretValue
