# Your Meilisearch host
NEXT_PUBLIC_MEILISEARCH_HOST=
# Your Meilisearch Search API key (this is public)
NEXT_PUBLIC_MEILISEARCH_SEARCH_API_KEY=
# Your Meilisearch Admin API key (this is private)
MEILISEARCH_ADMIN_API_KEY=
