
#create environment file name as .env
#and place following configuration data.

CONTENTSTACK_API_KEY=your_stack_apiKey
CONTENTSTACK_DELIVERY_TOKEN=your_delivery_token
CONTENTSTACK_ENVIRONMENT=your_publishing_environment

# For live preview 
CONTENTSTACK_MANAGEMENT_TOKEN=your_stack_management_token
CONTENTSTACK_API_HOST=api.contentstack.io
CONTENTSTACK_APP_HOST=app.contentstack.com
CONTENTSTACK_LIVE_PREVIEW=true  
CONTENTSTACK_LIVE_EDIT_TAGS=false

#CONTENTSTACK_LIVE_PREVIEW(this will be true by default to disable live preview feature please provide value false)
#CONTENTSTACK_LIVE_EDIT_TAGS default value wii be false to enable it set this value as true

# For NA region add CONTENTSTACK_APP_HOST=app.contentstack.com
# For EU region add CONTENTSTACK_APP_HOST=eu-app.contentstack.com
# For setting custom host add CONTENTSTACK_API_HOST=for(NA: api.contentstack.io, EU: eu-api.contentstack.com)