:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font: 100%/1.5 system-ui;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 36rem;
  margin: 0 auto;
  padding: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
}

a:hover {
  color: royalblue;
  text-decoration-color: currentcolor;
}

p {
  margin-bottom: 1.5rem;
}

code {
  font-family: Menlo;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
