{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.prisma",
      "options": {
        "parser": "prisma",
        "printWidth": 100,
        "endOfLine": "auto"
      }
    }
  ]
}
