[package]
name = "turbopack-ecmascript-hmr-protocol"
version = "0.1.0"
description = "TBD"
license = "MIT"
edition = "2021"
autobenches = false

[lib]
bench = false

[lints]
workspace = true

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }

turbopack-cli-utils = { workspace = true }
turbopack-core = { workspace = true }
