{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
