.first {
  background-image: url('/vercel.svg');
}

.first:nth-child(1) {
  background-image: url(/vercel.svg);
}

// .first:nth-child(2) {
//   background-image: url('./vercel.svg');
// }

// .first:nth-child(3) {
//   background-image: url(./vercel.svg);
// }

.first:nth-child(4) {
  background-image: url('../public/vercel.svg');
}

.first:nth-child(5) {
  background-image: url(../public/vercel.svg);
}

.another {
  background-image: url('https://vercel.com/vercel.svg');
}

.another:nth-child(1) {
  background-image: url('https://vercel.com/vercel.svg');
}
