# Stytch code owners file

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @stytchauth/client-libraries will be requested for
# review when someone opens a pull request.
*       @stytchauth/client-libraries
