{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.11.1"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "sourceMaps": false,
  "ignore": ["**/node_modules"]
}
