# Update these with your Supabase details from your project connect panel
# https://app.supabase.com/project/_/?showConnect=true&connectTab=frameworks
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key
