service firebase.storage {
  match /b/{bucket}/o {
    match /User/{userId}/profileIcon/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}