// The Server SDK Key is used to initialize the statsig-node SDK on the server side. (See https://console.statsig.com/api_keys)
STATSIG_SERVER_KEY=secret-IiDuNzovZ5z9x75BEjyZ4Y2evYa94CJ9zNtDViKBVdv

// The Client SDK Key is used to initialize the @statsig/js-client SDK on the client side. (See https://console.statsig.com/api_keys)
STATSIG_CLIENT_KEY=client-rfLvYGag3eyU0jYW5zcIJTQip7GXxSrhOFN69IGMjvq
