[package]
name = "turbo-tasks-testing"
version = "0.1.0"
description = "TBD"
license = "MPL-2.0"
edition = "2021"
autobenches = false

[lib]
bench = false

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
auto-hash-map = { workspace = true }
futures = { workspace = true }
lazy_static = { workspace = true }
rustc-hash = { workspace = true }
tokio = { workspace = true }
turbo-tasks = { workspace = true }
