@import '~@react-md/theme/dist/color-palette';

// I'm bad with colors... update these variables as needed for
// your app
$rmd-theme-primary: $rmd-purple-500;
$rmd-theme-secondary: $rmd-pink-a-200;
$rmd-theme-light: true;

$rmd-theme-dark-elevation: 'prefers-color-scheme';
$rmd-utils-auto-dense: false;

// any other react-md overrides or "global" variables used
// in your app
