@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply py-2 px-4 font-semibold text-2xl;
  }
  h1#home {
    @apply text-3xl;
  }
  tbody > tr > td:first-child {
    @apply font-bold text-teal-900 dark:text-[#4FF8D2];
  }
  th {
    @apply whitespace-nowrap px-4 py-2 text-left font-medium;
  }
  td {
    @apply whitespace-nowrap text-left px-4 py-2;
  }
  td.stars::after {
    content: '⭐️';
  }
  p {
    @apply font-light;
  }
}
