@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  a {
    margin: 0 28px;
    text-decoration: none;
    color: #181818;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins';
  }
}

.container {
  position: relative;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .page {
    position: absolute;
    .inner {
      display: flex;
      justify-content: center;
      h1 {
        font-family: 'Bebas Neue';
        font-size: 52px;
        letter-spacing: 0.1rem;
        .line-wrap {
          overflow: hidden;
          height: 66px;
        }
      }
      p {
        font-family: 'Poppins';
        margin-top: 200px;
        width: 340px;
        font-weight: 300;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
