@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  /**
   * Size the root view (html > body > #__next) to 100% of the viewport, so that
   * immediate flex children size as expected and the page flows as expected
   * without crushing the layout on mobile as described below.
   */
  html,
  body,
  #__next {
    /**
     * Ensure there's no margin or padding.
     */
    @apply m-0 p-0;
    /* 
    * Fill the viewport or expand beyond it. Setting `height: 100%` will
    * collapse the view if it is taller than the viewport, crushing all the
    * content and destroying the layout on mobile in many cases.
    *
    * This will break in quirks mode, so ensure that <!DOCTYPE html> is
    * declared.
    */
    @apply h-full w-full min-h-full min-w-full;
  }
  /**
   * Links will not change color by default, but *will* natively fade an
   * underline in on hover/focus/click for accessibility.
   */
  a {
    /**
     * This controls the color of the text itself and, on hover/focus/click, the
     * underline through the `text-decoration-color: inherit` setting.
     */
    color: inherit;
    /**
     * Request that the browser display the underline as transparent.
     *
     * On IE11 and the rare cases where this feature is still unsupported, this
     * will render as a regular <a> with an underline.
     */
    text-decoration: underline;
    text-decoration-color: transparent;
    /**
     * Transition the underline in and out of transparency.
     */
    transition: 370ms ease-in-out;
  }
  /**
   * Toggle the transparency of the underline depending on the
   * hover/active/focus state.
   */
  a:hover,
  a:focus,
  a:active {
    /**
     * Fancily animate the a:hover underline.
     */
    text-decoration-color: inherit;
  }
  /**
   * Use .link class globally to set a link to blue.
   */
  a.link,
  .link a {
    color: #0070f3;
  }
  /**
   * Default heading sizes.
   */
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }
  /**
   * Global styles that will be used throughout the application and need not be
   * modular.
   */
  .card {
    margin: 1rem;
    padding: 0.8rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
    min-width: 220px;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
