node_modules
.next
out
.vercel

# Amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
aws-exports.js
awsconfiguration.json