body {
  font-size: 1.5em;
}

input {
  margin-bottom: 16px;
}

input[type='text'] {
  width: 80%;
}
button.remove {
  padding: 2px 6px;
  line-height: 1.1;
  margin-left: 8px;
  z-index: 1;
}

.description {
  margin-right: 18px;
  width: 100%;
}

.description:hover {
  cursor: pointer;
}

.description[data-status='completed'] {
  text-decoration: line-through;
}

label {
  margin-right: 16px;
  text-transform: capitalize;
}

.countdown-time {
  width: 116px;
  display: inline-block;
  background: var(--background-alt);
  color: var(--text-bright);
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
}

.overdue-message {
  color: var(--highlight);
}
