@import './export.scss';

@font-face {
  font-family: "PerMark";
  src: url('./fonts/PermanentMarker-Regular.ttf');
}

$font-family-sans-serif: 'PerMark', Helvetica Neue, Arial, sans-serif !default;

@import '../node_modules/carbon-components/scss/globals/scss/styles.scss';
