
[build]

rustdocflags = []
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.aarch64-apple-darwin]
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.aarch64-unknown-linux-musl]
linker = "aarch64-linux-gnu-gcc"
rustflags = [
  "-C",
  "target-feature=-crt-static",
  "-C",
  "link-arg=-lgcc",
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.armv7-unknown-linux-gnueabihf]
linker = "arm-linux-gnueabihf-gcc"
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.aarch64-linux-android]
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.aarch64-pc-windows-msvc]
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]

[target.wasm32-unknown-unknown]
rustflags = [
  "-Z",
  "new-llvm-pass-manager=no",
]