{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "exclude": "node_modules",
                "generateScopedName": "[local]_[hash:base64:5]"
            }
        ]
    ]
}