/* Page header */
.pageHeader {
  flex: 0 0 auto;
  width: 100%;
  height: 11rem;
  background-color: #e4f8ee;
  border-top: 0.4rem solid #442ab9;
}

.pageHeader nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pageHeader svg {
  height: 6rem;
  width: 13rem;
}
