.img {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}

.actions {
  position: relative;
  bottom: 55px;
  right: 10px;
  width: 100%;
  height: 0px;
  text-align: right;
  float: left;
}

.actions a {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  float: right;
}
