.container {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
  text-align: left;
  padding-top: 2rem;
  max-width: 25em;
}

.labels {
  padding: 0.4rem 0;
  margin: 0;
}

.inputs {
  font-family: inherit;
  font-size: inherit;
  background: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  margin: 0;
}

.textarea {
  resize: vertical;
}

.button {
  border: 1px solid #aaa;
  background-color: transparent;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  justify-self: start;
  cursor: pointer;
}
.button:hover {
  background-color: #f8f8f8;
}

.fieldErrors {
  margin-top: -0.5rem;
  font-size: small;
  color: crimson;
  justify-self: right;
  grid-column: 1 / span 2;
}

.formErrors {
  margin-top: 1rem;
  color: crimson;
  align-self: center;
  grid-column: 2 / span 1;
}
