// import react-md variable overrides
@import "./variables";

// generate all react-md styles with the custom theme
@import "react-md/dist/styles";

@media (prefers-color-scheme: dark) {
  :root {
    @include rmd-theme-dark;
  }
}
