# Client Authorization key used to allow cache revalidation and previewing unpublished changes.
# Must match the key configured in Flotiq Content Preview plugin
FLOTIQ_CLIENT_AUTH_KEY=

# Flotiq Read Only API key. Used to access data through Flotiq SDK. 
FLOTIQ_API_KEY=