# create a secret - https://generate-secret.vercel.app/32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# create a github oauth app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# PostgreSQL Connection URI
DATABASE_URL=