.container {
  padding: 4rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container p {
  margin: 1.5rem 0;
}

.card {
  max-width: 50rem;
  box-shadow: -10px 10px 80px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 auto;
}

.inlineCode {
  color: #be00ff;
  font-size: 16px;
  white-space: pre-wrap;
}

.inlineCode::before,
.inlineCode::after {
  content: "`";
}

.hr {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 1.5rem 0;
}

.list {
  padding-left: 1.5rem;
  margin: 1.25rem 0;
  list-style-type: none;
}

.list li {
  margin-bottom: 0.75rem;
}

.list li:before {
  content: "-";
  color: #999999;
  position: absolute;
  margin-left: -1rem;
}
