.style1_name__0O_s2 {
  background: rgb(255, 0, 0);
}
.style3_name__f_Q_D {
  color: rgb(255, 166, 255);
}
.style2_name__rKcAE {
  color: rgb(255, 55, 255);
}
.style4_name__6DFkp {
  background: rgba(0, 0, 0, 0);
}
