.base2_base__qZ9Vk {
  color: rgb(255, 2, 0);
}
.base2-scss_base__NuFX6 {
  color: #ff0300;
}
.base_base__V8oKq {
  color: rgb(255, 0, 0);
}
.style_name__BhTSs {
  color: rgb(255, 0, 255);
}
.base-scss_base__m48Xo {
  color: #ff0100;
}
.style_name__UBRTE {
  color: green;
}
.style_name__e60aZ {
  color: blue;
}
.style_name__Q_FfV {
  color: rgb(255, 128, 0);
}
.style_name__N_WLA {
  color: teal;
}
