.style2-module__A4CJZq__name {
  color: #ff0c00;
}

.style0-module__VlwOFa__name {
  color: #ff0a00;
}

.style1-module__ggKKLW__name {
  color: #ff0b00;
}

.style3-module__1E2oza__name {
  color: #0f0;
}
