.style2-module__b2n0OW__name {
  color: #ff0c00;
}

.style0-module__TuV1JG__name {
  color: #ff0a00;
}

.style1-module__HVZzZa__name {
  color: #ff0b00;
}

.style3-module__Hd8Oga__name {
  color: #a6ff00;
}
