.style1-module__YJ11sq__name {
  background: rgb(255, 0, 0);
}

.style3-module__PLNk9q__name {
  color: #ffa6ff;
}

.style2-module__lYDYsq__name {
  color: #ff37ff;
}

.style4-module__LuSAga__name {
  background: 0 0;
}
