.style-module__p-ij-q__name {
  color: #00f;
}

.base2-module__zzC_ua__base {
  color: #ff0200;
}

.base-module__DNnTeq__base {
  color: rgb(255, 0, 0);
}

.base2-scss-module-scss-module__JjfRsa__base {
  color: #ff0300;
}

.base-scss-module-scss-module__TM4dvW__base {
  color: #ff0100;
}

.base-module__DNnTeq__base {
  color: rgb(255, 0, 0);
}

.style-module__85XCWa__name {
  color: #f0f;
}

.style-module__d-svHa__name {
  color: #ff8000;
}
