*, :after, :before {
    box-sizing: border-box;
}

a {
	text-decoration: none !important;
	cursor: pointer;
	color: #0070f3;
}

a:hover {
	color: #0366d6;
}

body {
	margin: 0;
	padding: 0;
	color: #111;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

main {
	padding: 1rem;
	max-width: 1040px;
	margin: 0 auto;
}

label {
	display: flex;
	margin-bottom: 0.5rem;
	align-items: center;
	width: 100%;
}

form {
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
textarea {
	font-family: monospace;
	flex: 1 1 0%;
	margin-left: 0.5rem;
	box-shadow: none;
	width: 100%;
	color: #000;
	background-color: transparent;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	outline: 0px;
	padding: 10px 25px;
}

button {
	display: block;
	margin-bottom: 0.5rem;
	color: #fff;
	border-radius: 5px;
	border: none;
	background-color: #000;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	padding: 10px 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

button:hover,
button:active {
	transform: translate3d(0px, -1px, 0px);
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}