:root {
  --blk: #000000;
  --five: 5px;
}

.test1 {
  border: 1px solid var(--blk);
  border-radius: var(--five);
  border-width: 0;
}

.test2 {
  border: 0px solid var(--blk);
  border-radius: var(--five);
  border-width: 5px;
}
