.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;

  &.children {
    :global {
      .inner {
        background-color: #f00;
      }
    }
  }
}
