on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 0,12 * * *'

name: Test react@next

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: cd repo && yarn install --frozen-lockfile --check-files
        env:
          NEXT_TELEMETRY_DISABLED: 1

      - run: cd repo && yarn upgrade react@next react-dom@next -W --dev

      - uses: actions/cache@v1
        id: cache-build
        with:
          path: '.'
          key: ${{ github.sha }}

  testAll:
    name: Test All
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3, 4, 5, 6]
    steps:
      - uses: actions/cache@v1
        id: restore-build
        with:
          path: '.'
          key: ${{ github.sha }}

      - run: cd repo && node run-tests.js --timings -g ${{ matrix.group }}/6 -c 3
        env:
          NEXT_TELEMETRY_DISABLED: 1
          HEADLESS: true
