name: 'Validate Doc Links'
on:
  pull_request:
    paths:
      - 'docs/**.mdx'

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 'Run link checker'
        run: node ./.github/actions/validate-docs-links/lib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
